.btn.btn-primary, .btn.btn-primary:hover {
    background-color: peru;
}

.btn.btn-primary:active:focus {
    background-color: rgb(205, 90, 80);
}

blockquote {
    margin-bottom: 20px;
}

.button {
    margin-top: 20px;
}
